.DS_Store
*.pyc
*.bak
*.dropbox
*.xlsx
*.old
*.doc
*.mdb
*~
*.py~
*.pptx
*.py~
.elasticbeanstalk/config
GA2.tif
.VolumeIcon.icns
.fseventsd
Icon^M^M
.project
.pydevproject
keys_Picloud_S3.py
Thumbs.db
*.pem
env/*
build/*
*.mod
fort.*
*.pid
REST_UBER/sam_rest/bin/binScenarios_all/*
/var/www/ubertool/ubertool_ecorest/REST_UBER/sam_rest/bin/bin_mother_lode/*
