[submodule "hms_flask"]
	path = hms_flask
	url = https://github.com/quanted/hms_flask.git
[submodule "temp_config"]
	path = temp_config
	url = https://github.com/quanted/temp_config.git
[submodule "nta_flask"]
	path = nta_flask
	url = https://github.com/quanted/nta_flask.git
[submodule "pram_flask"]
	path = pram_flask
	url = https://github.com/quanted/pram_flask
