packages:
  yum:
    gcc-c++: []
    gcc-gfortran: []
    python-devel: []

container_commands:
  yum_updates: 
    command: "yum update -y"
  pip_install: 
    command: "yum install python-pip -y"

option_settings:
  - namespace: aws:elasticbeanstalk:container:python
    option_name: WSGIPath
    value: wsgi.py