<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>&uuml;bertool API - 404 Error</title>
  <link rel="icon" type="image/png" href="/static/api/images/favicon-32x32.png" sizes="32x32" />
  <link rel="icon" type="image/png" href="/static/api/images/favicon-16x16.png" sizes="16x16" />
  <link href='/static/api/css/typography.css' media='screen' rel='stylesheet' type='text/css'/>
  <link href='/static/api/css/reset.css' media='screen' rel='stylesheet' type='text/css'/>
  <link href='/static/api/css/screen.css' media='screen' rel='stylesheet' type='text/css'/>
  <link href='/static/api/css/reset.css' media='print' rel='stylesheet' type='text/css'/>
  <link href='/static/api/css/print.css' media='print' rel='stylesheet' type='text/css'/>
</head>
<body class="swagger-section">
  <div id='header'>
    <div class="swagger-ui-wrap">
      <a id="logo" href="/api">&uuml;bertool API</a>
    </div>
  </div>
  <div id="swagger-ui-container" class="swagger-ui-wrap">
    <div class="info" id="api_info" style="padding-top: 80px;">
      <div class="info_title">404 error- directory of services:</div>
        <ul>
            <li><a href='http://localhost:7777/rest/ubertool/agdrift/'>agdrift</a></li>
            <li><a href='http://localhost:7777/rest/ubertool/beerex/'>beerex</a></li>
            <li><a href='http://localhost:7777/rest/ubertool/iec/'>iec</a></li>
            <li><a href='http://localhost:7777/rest/ubertool/kabem/'>kabam</a></li>
            <li><a href='http://localhost:7777/rest/ubertool/rice/'>rice</a></li>
            <li><a href='http://localhost:7777/rest/ubertool/sam/'>sam</a></li>
            <li><a href='http://localhost:7777/rest/ubertool/sip/'>sip</a></li>
            <li><a href='http://localhost:7777/rest/ubertool/stir/'>stir</a></li>
            <li><a href='http://localhost:7777/rest/ubertool/terrplant/'>terrplant</a></li>
            <li><a href='http://localhost:7777/rest/ubertool/therps/'>therps</a></li>
            <li><a href='http://localhost:7777/rest/ubertool/trex/'>trex</a></li>
        </ul>
        <br>
        <ul>
            <li><a href='http://localhost:7777/rest/ubertool/rice/'>agdrift</a></li>
            <li><a href='http://localhost:7777/rest/ubertool/rice/'>beerex</a></li>
            <li><a href='http://localhost:7777/rest/ubertool/rice/'>agdrift</a></li>
            <li><a href='http://localhost:7777/rest/ubertool/rice/'>beerex</a></li>
            <li><a href='http://localhost:7777/rest/ubertool/rice/'>agdrift</a></li>
            <li><a href='http://localhost:7777/rest/ubertool/rice/'>beerex</a></li>
            <li><a href='http://localhost:7777/rest/ubertool/rice/'>agdrift</a></li>
            <li><a href='http://localhost:7777/rest/ubertool/rice/'>beerex</a></li>
            <li><a href='http://localhost:7777/rest/ubertool/rice/'>agdrift</a></li>
        </ul>
        <br>
        <ul>
            <li><a href='http://localhost:7777/rest/ubertool/rice/'>beerex</a></li>
            <li><a href='http://localhost:7777/rest/ubertool/rice/'>agdrift</a></li>
            <li><a href='http://localhost:7777/rest/ubertool/earthworm/'>earthworm</a></li>
            <li><a href='http://localhost:7777/rest/ubertool/rice/'>beerex</a></li>
            <li><a href='http://localhost:7777/rest/ubertool/rice/'>agdrift</a></li>
            <li><a href='http://localhost:7777/rest/ubertool/rice/'>beerex</a></li>
        </ul>
    </div>
  </div>
</body>
</html>